* {
    margin: 0;
    padding: 0;
}

body {
    /* position: fixed; */
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    font-size: 15px;
}

h2 {
    font-size: 16px;
}

nav {
    position: fixed;
    width: 100%;
    padding: 20px;
    list-style: none;
    text-transform: uppercase;
    background-color: #fff;
    
}

nav a {
    text-decoration: none;
    color: #000;
}

.nav_nav{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.containerLeft{
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.containersearchBarProducts {
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 1px 1px rgb(106 106 106 / 10%);
    background-color: #fff;
    padding: 3px;
    border-radius: 3px;
}

.containersearchBarProducts input {
    border: none;
    outline: none;
    padding-left: 5px;
}

input[type="search"]::-webkit-search-cancel-button {
    display: none;
}

.theme{
    display: flex;
    right: 20;
    position: fixed;
    background: none;
    border: none;
    cursor: pointer;
}

main {
    display: block;
    top: 66;
    position: relative;
    background-color: #f6f4f4;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.results {
    display: flex;
    flex: 1 2; 
    height: 100%;
}

aside{ 
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 80px;
    padding: 20px;
    width: 200px;
    height: 100%; 
    top: 66px;
    box-shadow:  1px 1px rgba(168, 168, 168, 0.3);
}

aside h2 {
    padding-bottom: 10px;
}

.filterProducts {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.filterProducts button{
    text-transform: uppercase;
    width: 8em;
    padding: 5px;
    border: 1px solid;
    cursor: pointer;
    border-radius: 3px;
    border: none; 
    color: #dfd5d5;
    background-color: #252525;
}

.filterProducts button:hover {
    text-decoration: underline;
}

.localeContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 0px 1px 1px rgb(106 106 106 / 10%);
    background-color: #fff;
    padding: 3px;
    border-radius: 3px;
}

.localeContainer:focus {
    border: 1px solid;
}

.localeContainer input {
    border: none;
    outline: none;
    text-decoration: none;
    padding-left: 5px;
}

.localeContainer svg {
    width: 13px;
}

section {
    padding: 20px;
    top: 60;
    left: 240;
    right: 0;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
}

.contents {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
}

.orderBy {
    display: flex;
    flex-direction: row;
    gap: 0.3em;
    position: initial;
    justify-content: end;
}

.dropdown button {
    cursor: pointer;
    border: none;
    background: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 0.3em;
}

.dropdown button:hover {
    color: rgb(83, 83, 243);
}

.dropdown button:hover svg path{
    fill: rgb(83, 83, 243);
}

.listOrder {
    display: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: fixed;
    border-radius: 13px;
    box-shadow: 1px 2px 0 rgb(0 0 0 / 12%);
    background-color: #fff;
}

.listOrder li {
    cursor: pointer;
    text-align: center;
}

.topItem {
    padding-bottom: 5px;
}

.middleItem {
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    padding-bottom: 5px;
    padding-top: 5px;
}

.bottomItem {
    padding-top: 5px;
}

.box {
    background-color: #fff;
    height: 100%; 
    border-radius: 7px;
    box-shadow: 0px 0px 1px 1px rgba(106, 106, 106, 0.1);
}

input[type="radio"]:not(:checked) {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 3px;
    border: 1px solid #CCC;
    width: 20px;
    height: 20px; 
    vertical-align: middle;
  }
  
  input[type="radio"]:not(:checked):focus {
    outline: none;
  }
  
  input[type="radio"]:checked {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
   /*  border: 1px solid #665e5e; */
  }
  
  input[type="radio"]:checked:before {
    content: "\2714";
    display: block;
    text-align: center;
    font-size: 16px;
    color: #e0dada;
    background-color: #7f83e8;
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }
  